@import 'tailwindcss';
/*
  ---break---
*/
@plugin 'tailwindcss-animate';
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* custom styles */
/* override dnd-kit cursor styles */
[data-dnd-draggable] {
  cursor: default !important;
}

[data-dnd-draggable]:active {
  cursor: default !important;
}

/* prevent text selection during drag operations */
[data-dnd-draggable] * {
  user-select: none;
}

/* add a grabbing cursor when dragging */
.dragging {
  cursor: grabbing !important;
}

/* ... */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: oklch(44.86% 0.3044 264.26);
  --foreground: oklch(90% 0 0);
  --card: oklch(90% 0 0);
  --card-foreground: oklch(13% 0.045 265);
  --popover: oklch(90% 0 0);
  --popover-foreground: oklch(13% 0.045 265);
  --primary: oklch(90% 0 0);
  --primary-foreground: oklch(10% 0.045 265);
  --secondary: oklch(90% 0.045 265);
  --secondary-foreground: oklch(10% 0.045 265);
  --muted: oklch(80% 0 0);
  --muted-foreground: oklch(80% 0 0);
  --accent: oklch(80% 0 0);
  --accent-foreground: oklch(10% 0.045 265);
  --destructive: oklch(50% 0.22 14);
  --destructive-foreground: oklch(90% 0 0);
  --destructive-secondary: oklch(40% 0.22 14);
  --border: oklch(80% 0 0);
  --input: oklch(80% 0 0);
  --ring: oklch(90% 0.045 265);
  --alt-switch: oklch(40% 0.045 265);
  --spotify: oklch(68.88% 0.187 148.92);
  --spotify-secondary: oklch(58.88% 0.187 148.92);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* default to hidden for most pages */
}

/* class to enable scrolling on specific pages */
.scrollable-page {
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
}

/* apply momentum-based scrolling for mobile devices */
.scrollable-page {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

/* apply fixed positioning only when dragging */
body.dragging {
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer utilities {
  .border-border {
    border-color: hsl(var(--border));
  }
  .bg-background {
    background-color: hsl(var(--background));
  }
  .text-foreground {
    color: hsl(var(--foreground));
  }
}

/*
  ---break---
*/

.dark {
  --background: oklch(44.86% 0.3044 264.26);
  --foreground: oklch(90% 0 0);
  --card: oklch(90% 0 0);
  --card-foreground: oklch(13% 0.045 265);
  --popover: oklch(90% 0 0);
  --popover-foreground: oklch(13% 0.045 265);
  --primary: oklch(90% 0 0);
  --primary-foreground: oklch(10% 0.045 265);
  --secondary: oklch(90% 0.045 265);
  --secondary-foreground: oklch(10% 0.045 265);
  --muted: oklch(80% 0 0);
  --muted-foreground: oklch(80% 0 0);
  --accent: oklch(80% 0 0);
  --accent-foreground: oklch(10% 0.045 265);
  --destructive: oklch(50% 0.22 14);
  --destructive-foreground: oklch(90% 0 0);
  --destructive-secondary: oklch(40% 0.22 14);
  --border: oklch(80% 0 0);
  --input: oklch(80% 0 0);
  --ring: oklch(90% 0.045 265);
  --alt-switch: oklch(40% 0.045 265);
  --spotify: oklch(68.88% 0.187 148.92);
  --spotify-secondary: oklch(58.88% 0.187 148.92);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

/*
  ---break---
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-secondary: var(--destructive-secondary);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-alt-switch: var(--alt-switch);
  --color-spotify: var(--spotify);
  --color-spotify-secondary: var(--spotify-secondary);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}